
/*header */
.header{
    height: 100vh;
}
.nav_var {
      height: 150px;
      
}
img.perfil {
    height: 300px;
    border-radius: 100%;
    margin-right: 40px;
    float: right;
    transition: 1s linear;
    transition: 1s linear;
}
img.perfil:hover { 
    box-shadow: 10px 10px 14px 2px rgba(0,161,241,0.30);
}
.nav-item {
    color: #00a1f1;
    font-size:20px;
    text-decoration: none;
}
.inicio {
    margin-left: 20px;
    padding: 20px;
}
.nombre {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #00a1f1;
    font-size: 65px;
}
.front {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size:80px;
}
.head_li {
    margin: 40px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.head_links {
    height: 50px;
    display: flex;
}

/*articulo */
.articulo {
    min-height: 800px;
    background: rgb(0,161,241);
background: linear-gradient(180deg, rgba(0,161,241,1) 89%, rgba(255,255,255,1) 100%);;
   
}
.art_import{
    margin-top: 100px;
    margin-bottom: 100px;
}
.art_centro {
    width: 80%;
    padding: 30px;
    margin: auto;
    
}
.texto {
    width: 80%;
    margin: 0% auto;
    font-size: 25px;
    color: #2b2b2b;
}

div h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    font-weight: bolder;
    color: #fff;
}

/* habilidades */
.contenedor_hab{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
}
.box_hab{
    display: flex;
    margin: 20px;
    align-items: center;
}
.hab_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 25px;
    justify-content: space-between;
}

.hab_img:hover{
    transform: scale(1.10);
    transition: .3s;
    transition-delay: 0s
}
.hab_img img{
    width: 120px;
    align-items: center;
    
}
/* proyectos */ 
.div_proyectos{
    position: relative;
}
.div_proyectos_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;
}
.div_proyectos_2:hover{
    transform: scale(1.10);
    transition: .3s;
    transition-delay: 0s;
    opacity: 0.3;
    z-index: 20;
    
}
.img_proyectos {
    width: 80%;
    
}
.proyecto_text {
    color: white;
    font-size: 2rem;
}

.proyecto_text_prox{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 5rem ;
    color: red;
    font-weight: bolder;
    transform: rotate(-10deg);
    font-family: 'Shadows Into Light Two', cursive;
}
/* form */ 
.form {
    width: 75%;
    margin: 0 auto;
}

.div_input {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
input.inputs {
    width: 45%;
    margin: 0 auto;

}
textarea.textarea{
    height: 200px;
    margin: 0 auto;
    width: 90%;
}
.div_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */
footer.container {
    height: 100px;
    width:100%;

}
.cajaFooter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

footer .logo_footer {
    height: 50px;
    align-items: center;
    display: flex;

}